# Ambiente virtual
.venv/

# Dados (ignora os arquivos, mas mantém as pastas)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs (ignora arquivos gerados, mas mantém as pastas)
outputs/figures/*
outputs/tables/*
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db